.container{
	display: flex;
	justify-content: flex-end;
	
	@media (max-width: 700px) {
		display: none;
	}
}
.consult{
	margin-top: 61px;
	padding: 21px 34px 21px 35px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	display: block;
	background: #4077F3;
	cursor: pointer;
	&:active{
		background: #214ccf;
	}
}