

.bacgrpund{
	position: fixed;
	max-width: 1440px;
	width: 100%;
	transform: translate(-50%, -50%);
	left: 50%;
	z-index: 0;
}
.sphere_one,
.sphere_two,
.sphere_three,
.light_one,
.light_two,
.light_three {
	position: absolute;
	border-radius: 50%;
}
.sphere_one{
	width: 83px;
	height: 83px;
	left: 519px;
	top: 83px;
	background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
	backdrop-filter: blur(2px);
	@media (max-width: 1440px) {
			width: calc(43px + (83 - 43)*((100vw - 320px)/(1440-320)));
			height: calc(43px + (83 - 43)*((100vw - 320px)/(1440-320)));
			left: calc(29px + (519 - 29)*((100vw - 320px)/(1440-320)));
			top: calc(402px + (83 - 402)*((100vw - 320px)/(1440-320)));
	}
}
.sphere_two{
	width: 60px;
	height: 60px;
	left: 868px;
	top: -2px;

	background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
	filter: blur(5px);
	backdrop-filter: blur(2px);
	@media (max-width: 1440px) {
		width: calc(40px + (60 - 40)*((100vw - 320px)/(1440-320)));
		height: calc(40px + (60 - 40)*((100vw - 320px)/(1440-320)));
		left: calc(296px + (868 - 296)*((100vw - 320px)/(1440-320)));
		top: calc(236px + (-2 - 236)*((100vw - 320px)/(1440-320)));
	}
}

.sphere_three{
	width: 28px;
	height: 28px;
	left: 851px;
	top: 547px;
	background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
	filter: blur(2.5px);
	backdrop-filter: blur(2px);
	@media (max-width: 1440px) {
		width: calc(18px + (28 - 18)*((100vw - 320px)/(1440-320)));
		height: calc(18px + (28 - 18)*((100vw - 320px)/(1440-320)));
		left: calc(278px + (851 - 278)*((100vw - 320px)/(1440-320)));
		top: calc(563px + (547 - 563)*((100vw - 320px)/(1440-320)));
	}

}

.light_one{
	width: 259px;
	height: 259px;
	left: 602px;
	top: -154px;

	background: #833AB4;
	opacity: 0.5;
	filter: blur(196px);
	@media (max-width: 1440px) {
		left: calc(258px + (602 - 258)*((100vw - 320px)/(1440-320)));
		top: calc(107px + (-154 - 107)*((100vw - 320px)/(1440-320)));
	}
}

.light_two{
	width: 311px;
	height: 311px;
	left: -102px;
	top: 251px;
	background: #961A1A;
	opacity: 0.5;
	filter: blur(196px);

	@media (max-width: 1440px) {
		width: calc(211px + (311 - 211)*((100vw - 320px)/(1440-320)));
		height: calc(210px + (311 - 210)*((100vw - 320px)/(1440-320)));
		left: calc(-55px + (-102 + 55)*((100vw - 320px)/(1440-320)));
		top: calc(241px + (251 - 241)*((100vw - 320px)/(1440-320)));
	}

}

@media (max-width: 700px) {
	.light_three{
		width: 200px;
		height: 200px;
		left: -66px;
		top: 519px;
		
		background: #FCB045;
		opacity: 0.4;
		filter: blur(196px);
	}
	
	.glass{
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0px;
		top: 0px;
		background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
		backdrop-filter: blur(7.5px);
	}
	.noice{
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0px;
		top: 0px;
		opacity: 0.15;
		background-image: url(../../assets/images/noice.png);

	}
}